#content.blog-header{
    background-image: url('/Assets/banner/b19.jpg');
}

#blog{
    padding: 150px 150px 0 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img{
    width: 50%;
    margin-right: 40px;
} 

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
} 


#blog .blog-details a{
    text-decoration: none;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
} 

#blog .blog-details a::after{
    content: "";
    width: 50%;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 10px;
    right: -60px;
}

#blog .blog-details a:hover{
    color: #088178;
}

#blog .blog-details a:hover::after{
    background-color: #088178;
}

#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -1;
}

/* Responsive Blog  In Mobile Screen*/
    /* Blog Screen  */
@media (max-width: 477px) {
    #blog{
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog .blog-img {
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0px;
    }

    #blog .blog-details{
        width: 100%;
    }

    .blogheart{
      display: none;
    }
}


/* heart animation  */

.blogheart {
    animation-name: heartbeat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-color: red;
    display: inline-block;
    height: 50px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    position: absolute; 
    right: 39%; top: 19%;
    width: 50px;

  }
  
  .blogheart:before,
  .blogheart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 50px;
    position: absolute;
    width: 50px;
  }
  
  .blogheart:before {
    top: -25px;
    left: 0;
  }
  
  .blogheart:after {
    left: 25px;
    top: 0;
  }
  
  /* this animation will be showing heart in 90 degree */
  @keyframes heartbea
  {
    0%
    {
      transform: scale( 1 )
        rotate(-45deg);    
    }
    20%
    {
      transform: scale( 1.25 )
        rotate(-45deg);  
    }
     40%
    {
      transform: scale( 1.5 )
        rotate(-45deg);
    }
  }

  /* this animation will be running  */

  @keyframes heartbeat{
    0%
    {
      transform: scale( .75 );
    }
    20%
    {
      transform: scale( 1 );
    }
    40%
    {
      transform: scale( .75 );
    }
    60%
    {
      transform: scale( 1 );
    }
    80%
    {
      transform: scale( .75 );
    }
    100%
    {
      transform: scale( .75 );
    }
  
  }